h1{
    font-size: x-large;
    color: #bba748;
}


body{
    background-image: url("../assets/images/coolbackground.jpg");
}
#aboutme-img{
    float: left;
    width: 200px;
    margin: 0 20px 10px 0;

       
}
.img-fluid{
    margin: 20px auto;
}
/* #textbox{
    position: absolute;
    bottom: 0px; */
}
#img-div{
    margin: 10px;
}
.class{
    width: 20%;
    height: 200px;
    margin: 20px;
}