h1{
    font-size: x-large;
    color: #bba748;
}


body{
    background-image: url("../assets/images/coolbackground.jpg");
}
#aboutme-img{
    float: left;
    margin-right: 20px;

        max-width: 50px;
        height: auto;
}

#textbox{
    position: absolute;
    bottom: 0px;
}
#img-div{
    margin: 10px;
}
.class{
    width: 20%;
    height: 200px;
    margin: 20px;
}

